h1{
  color:#000000;
}
a:link {
 color: #FFFF00;
 text-decoration: none;
}

a:visited {
 color: #008000;
 text-decoration: none;
}

a:hover {}

a:active {
 color: #000000;
 text-decoration: none;
}
.persent{
  color:#FF0000;
  text-decoration: underline;
}
header {
padding: 30px;
background: #3B06B8;
color: #000000;
}
footer {
color: #FFF;
text-align: center;
padding: 10px;
background: #000;
}
